body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* DEPOT */
a {
    cursor: pointer;
}

.overview > .list-group-item{
    width: 60px;
    height: 42px;
}

.overview > .blocked {
    background-color: #696969;
}

.overview > .blocked:hover {
    background-color: #696969;
}

.overview > .Dienst {
    color: #cc0066;
}

.overview > .Remise {
    color: #000000;
}

.overview > .Schoonmaak {
    color: cornflowerblue;
}

.overview > .Defect {
    color: red;
}

#contextMenu {
    z-index: 2;
    position: absolute;
    display: none;
}

#contextMenu ul {
    display: block;
    position: static;
    margin-bottom: 5px;
}

#overview-alert {
    display: none;
}
