@{
    ViewBag.Title = "Overzicht Remise";
}

<div class="row">
    <div class="col-md-3">
        <h2>Reserveringen</h2>

        <div id="reservedTrams" class="list-group">
        </div>

        <button id="reservedButton" type="button" class="btn btn-primary" disabled="disabled">Bevestig</button>
        <!-- Single button -->
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Simulatie <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/Depot/Simulate">Start Simulatie</a></li>
                <li><a href="/Depot/Cancel">Annuleer Simulatie</a></li>
            </ul>
        </div>
    </div>

    <div class="col-md-9">
        <h2>Overzicht Remise</h2>

        <div id="overview-alert" class="alert alert-danger alert-dismissible" role="alert">
        </div>

        <div id="overview">
        </div>
    </div>
</div>

<div id="contextMenu" class="dropdown clearfix">
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
        <li><a tabindex="-1">Track (de)blokkeren</a></li>
        <li><a tabindex="-1">Sectie (de)blokkeren</a></li>
        <li role="separator" class="divider"></li>
        <li><a tabindex="-1">Tram plaatsen</a></li>
        <li><a tabindex="-1">Tram reserveren</a></li>
        <li><a tabindex="-1">Tram verwijderen</a></li>
        <li role="separator" class="divider"></li>
        <li><a tabindex="-1">Verander status > Dienst</a></li>
        <li><a tabindex="-1">Verander status > Remise</a></li>
        <li><a tabindex="-1">Verander status > Defect</a></li>
        <li><a tabindex="-1">Verander status > Schoonmaak</a></li>
    </ul>
</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Let op!</h4>
            </div>
            <div class="modal-body">
                Er is een tram die speciale actie vereist.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>